.THIS .custom-layout{
	display: block;
}

.THIS .custom-layout .custom-input{
	padding: 1rem;
}

.THIS .margin-left-1{
	margin-left: 1rem;
}

.THIS .margin-toph{
	margin-top: .5rem;
}
.THIS .margin-top1{
	margin-top: 1rem;
}